/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding-left: 20px;
padding-right: 20px;
}

section {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

section .onecol {
width: 4.85%;
}

section .twocol {
width: 13.45%;
}

section .threecol {
width: 22.05%;
}

section .fourcol {
width: 30.75%;
}

section .fivecol {
width: 39.45%;
}

section .sixcol {
width: 48%;
}

section .sevencol {
width: 56.75%;
}

section .eightcol {
width: 65.4%;
}

section .ninecol {
width: 74.05%;
}

section .tencol {
width: 82.7%;
}

section .elevencol {
width: 91.35%;
}

section .twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	section, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	section .onecol, section .twocol, section .threecol, section .fourcol, section .fivecol, section .sixcol, section .sevencol, section .eightcol, section .ninecol, section .tencol, section .elevencol, section .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}